@mixin styleScroll($scrollBarBg: #000, $thumbBg: #FFA500, $scrollBarBR: 5px, $scrollBarType: thin, $scrollBarWidth: 6px) {
  scrollbar-width: $scrollBarType;
  scrollbar-color: $thumbBg $scrollBarBg;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: $scrollBarWidth;
    background: $scrollBarBg;
    border-radius: $scrollBarBR;
  }

  &::-webkit-scrollbar-track {
    background: $scrollBarBg;
    border-radius: $scrollBarBR;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbBg;
    border-radius: $scrollBarBR;
  }
}

:root {
  color: #000;
  line-height: 1.5;
  font-weight: 400;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --link-color: #5686a7;
  --link-hover-color: #476e88;

  --input-fokus: 0 0 10px 0 rgba(104, 151, 187, .7);
  --input-border: 2px solid #6897bb;
  --input-font: 1em/120% system-ui, Avenir, Helvetica, Arial, sans-serif;
  --input-padding: 7px 12px;
  --input-border-radius: 5px;
}

html,
body {
  $bgColor: #f9f9f9;
  @include styleScroll($scrollBarBg: $bgColor, $thumbBg: #6897bb);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 1000px) {
    background:
      linear-gradient(#e1e1e1, transparent 1px),
      linear-gradient(90deg, #e1e1e1, transparent 1px),
      $bgColor;
    background-size: 10px 10px;
    background-attachment: fixed;
    background-position: center top;
  }
}
