:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --link-color: #5686a7;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @media screen and (min-width: 980px) {
    background:
    linear-gradient(#eaeaea, transparent 1px),
    linear-gradient(90deg, #eaeaea, transparent 1px);
    background-size: 10px 10px;
    background-position: center center;
  }
}
